.navbar-brand {
  font-family: fantasy;
}
.container-sm.title {
  display: flex;
  justify-content: center;
}
.container-sm.title h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: beige;
}
.container-sm.title h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: beige;
    margin-top: 40PX;
}
body {
    background-image: url(/img/fondo.jpg);
    background-size: cover;
  }
.nav-link{
    font-family: fantasy;
}
.dropdown-item{
    font-family: fantasy;
}
.img-fluid{
    width: 90%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.btn-pais{
    display: flex;
    justify-content: center;
}
.btn-light.main{
    width: 90%;
    height: 40px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
.img-fluid:hover{
    transform: scale(1.05);
}
.card-img-top{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.card-text{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(79, 79, 90, 0.8);
    border-radius: 40px; /* Bordes redondeados */
    padding: 40px;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    width: 1500px;
    height: 150PX;
  }
  
  .container-info:hover {
    transform: scale(1.05);
  }
  .container-fluid.state{
    display: flex;
    background-color: rgba(79, 79, 90, 0.8);
    font-family:fantasy;
    font-size: 35px;
    margin-top: 40px;
    border-radius: 20px;
    color: white;
  }
  .container-fluid.map{
    margin-top: 35px;
  }
  .map{
    border-radius: 20px;
    object-fit: cover;
  }
  .col.states{
    margin-top: 35px;
  }
  .btn.btn-light.states{
    margin-bottom: 23px;
    height: 45px;
    font-family: fantasy;
    font-size: 25px;
  }
  .btn.btn-light.states-sv{
    margin-bottom: 23px;
    height: 45px;
    width: 300px;
    font-family: fantasy;
    font-size: 25px;
  }
  .btn.btn-light.states:hover{
    transform: scale(1.05);
  }
  .card-title.turistic{
    font-size: 20px;
    font-family:"Playfair Display", serif;
    margin-top: 10px;
  }
  .container-fluid.footer{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    background-color: rgba(79, 79, 90, 0.8);
  }
  .card.h-70:hover{
    transform: scale(1.05);
  }